<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mvp_vm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- 用于读取手机硬件信息等，用于机型过滤 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 选举使用，当应用有删除或者更新时需要重新选举，复用推送通道 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/> <!-- 补偿通道小米PUSH使用，不用可去除 -->
    <uses-permission android:name="android.permission.GET_TASKS"/> <!-- 补偿通道GCM使用，不使用可去除 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/> <!-- 允许监听启动完成事件 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> <!-- 允许访问震动器 -->
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS"/> <!-- 安卓8.0，应用编译配置的targetSdkVersion>=26 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/> <!-- 百度语音合成 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}"/> <!-- 拨打号码、短信 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/> <!-- 高德地图 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 商户贷 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.TakeIdentityActivity">
        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".activity.DoubleScrollActivity">
        </activity>
        <activity android:name=".activity.CutImgActivity">
        </activity>
        <activity android:name=".activity.WebActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>